/*重置样式*/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0}
body,button,input,select,textarea{ font:16px/1.5 "微软雅黑",arial, verdana, sans-serif;color:#565656;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
li{list-style:none}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
q:before,q:after{content:”}
button,input,select,textarea{font-size:100%}
legend{color:#565656;}
small{font-size:12px}
hr{border:none;height:1px}
input{outline:none;border-radius:3px;}
textarea{resize:none;outline:none;border-radius:3px;transition:all .2s;}
textarea:focus{border:1px solid #09F;}
a{color: #09c;text-decoration:none;transition:all .2s;cursor:pointer;}
a:hover{text-decoration:underline;}
.clear {clear: both;}
.container{width:90%;margin:0 auto;}
body,html{height:100%;}
body{background:#F7F8FA;}

/*登录*/
.login
{
	width: 300px;
	height: 320px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 5px #ddd;
}

.login img
{
	margin:0 auto;
	display: block;
}

form label
{
	display: block;
	margin: 6px 0;
}
form input[type=text],form input[type=password],form textarea
{
	border: 1px solid #ddd;
	padding: 4px 10px;
	margin-bottom: 10px;
	width:96%;
}

form select
{
	width: 100%;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 2px 0px;
}

.login form input[type=text],.login form input[type=password]
{
	padding: 2%;
	width:96%;
}

form input[type=submit],form input[type=button]
{
	margin-top: 4px;
	border: 1px solid #ddd;
	padding: 4px 2%;
	width: 100%;
	cursor: pointer;
	transition:all .2s;
}

form input[type=submit]:hover,form input[type=button]:hover
{
	background: #eee;
}

/*后台导航栏*/
.header
{
	width: 100%;
	height: 40px;
	background: #312d33;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
}

.header a
{
	color: #ddd;
}

.header a:hover
{
	text-decoration: none;

}

.header .nav
{
	float: left;
}

.header .nav li .active,.header .admin .active
{
	font-weight: bold;
	background: #212121;
	color: #fff;
}

.header .nav li
{
	float: left;
	position: relative;
	border-left:1px solid #313131;
}

.header .logo
{
	margin-top: 3px;
	width: 9%;
	float: left;
	margin-right: 2%;
}

.header .logo img
{
	width:100%;
}
.header .admin 
{
	float:right;
}

.header .admin a
{
	padding: 0 20px;	
}

.header .admin a:hover
{
	color:#fff;
}

.header .nav li a
{
	background: #312d33;
	padding: 0 20px;
	display: block;
}

.header .nav li:hover a
{
	background: #212121;

}

.header .nav li:hover .sub-nav
{
	display: block;
}

.header .nav .sub-nav 
{
	width: 140px;
	background: #212121;
	position: absolute;
	top: 40px;
	left: -1px;
	display: none;
}

.header .nav .sub-nav li
{
	float:none;
}

.header .nav .sub-nav li a
{
	background: #212121;
}

.header .nav .sub-nav li a:hover
{
	color: #fff;
}


/*后台主体部分*/
.main
{
	padding: 20px 0 40px 0;
}

.page-btn
{
	text-align: center;
}

.page-btn li 
{
	display: inline-block;
}

.page-btn li a
{
	display: block;
	padding: 2px 6px;
	border-radius: 5px;
	background: #ddd;
	margin-right: 10px;
	color: #999;
}

.main form input[type=submit],.main form input[type=button]
{
	max-width: 120px;
	margin-right: 10px;
}

.main .normal-form
{
	width:70%;
}

.main .table-form
{
	width:100%;
}

.main form
{
	font-size: 14px;
	margin:0 auto;
}

.main form span
{
	font-size: 13px;
	color: #999;
	margin-bottom: 14px;
	display: block;
}

.main form label
{
	font-weight: bold;
}

.site-simple-info
{
	padding-top: 20px;
	line-height: 32px;
}

.title
{
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 20px 0;
}

.sub-title
{
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 20px 0;	
}

.site-simple-info p
{
	font-size: 16px;
	color: #999;
}

.site-simple-info p span
{
	font-size: 30px;
	color: #565656;
	margin: 0 4px;
	font-weight: 300;
}

.site-simple-info a
{
	margin-right:20px;
	display: inline-block;
	margin-top:20px;
}

.table-form table
{
	border-collapse: collapse;
	text-align: center;
	box-shadow: 0 0 5px #eee;
	background: #fff;
	margin-bottom: 30px;
}

.table-form table input[type="text"]
{
	width: 80%;
	margin: 0;
}
.table-form table th
{
	padding: 6px 20px;
	border: 1px solid #eee;
}

.table-form table tr td
{
	padding: 8px 20px;
	border: 1px solid #eee;
}

.table-form table tr td img
{
	max-width: 100px;
}

.table-img
{
	width: 40px;
}

.main .right
{
	width: 35%;
	float: left;
	margin-bottom: 30px;
}

.main .left
{
	width: 60%;
	float: left;
	margin-right: 5%;
}